* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #1f2937;
  padding: 20px 0 40px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
}

.nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 18px;
}

.nav-link {
  color: #e5e7eb;
  text-decoration: none;
}

.title-section {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
