* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #1f2937;
  padding: 20px 0 40px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
}

.nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 18px;
}

.nav-link {
  color: #e5e7eb;
  text-decoration: none;
}

.title-section {
  background-color: #1f2937;
  padding-bottom: 50px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  width: 300px;
}

.title-section__img {
  display: block;
  width: 400px;
  height: autos;
}

.title-section__card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 15px;
}

.title-section__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.btn {
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  padding: 8px 20px;
  background-color: rgb(241, 231, 40);
  font-weight: 600;
}

.btn:hover {
  opacity: 0.8;
}
